<header class="nav navbar-expand navbar-default navbar-custom flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <img alt="Brand" src="/img/favicon.png">
    </a>
    <ul class="navbar ml-md-auto nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/" >Home</a>
          </li>
          {% for page in site.pages %}{% if page.title %}
          <li class="nav-item">
              <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}{% endfor %}
    </ul>
</header>

