---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-color: {% if page.header-color %}{{ page.header-color }}{% else %}{{ site.header-color }}{% endif %}
    }
</style>

<!-- Documentation extras -->
<link rel="stylesheet" href="{{ "/css/docs.min.css" | prepend: site.baseurl }}">


<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<header class="intro-header">
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-lg-12 col-md-12">
                <div class="post-heading offset-md-2 offset-xl-2 pl-md-5">
                    
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <div class="Tags" style="padding-bottom: 10px;">
                    <div>
                        {% for tag in page.categories %}
                        <a href="/page/categories/#{{ tag }}" title="{{ tag }}" style="color: aliceblue;"><i class="fa fa-th" aria-hidden="true" style="margin-right: 10px;"></i>{{ tag }}</a>
                        {% endfor %}
                    </div>
                        {% for tag in page.tags %}
                        <a href="/page/tags#{{ tag }}" title="{{ tag }}" style="color: aliceblue;"><i class="fa fa-tags" aria-hidden="true" style="margin-right: 10px;"></i>{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
                         and Readed <span id="busuanzi_value_page_pv"></span> times
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-md-2 offset-md-1 col-xl-2 offset-xl-1 bd-sidebar" style="padding: 1rem 15px;">
                <div class="d-flex align-items-center">
                    <span class="algolia-autocomplete meta" style=""><h3>CONTENTS</h3></span>
                    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                    </button>
                </div>
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                </nav>
              </div>
            <article>
            <main class="col-md-9  col-xl-9 py-md-3 pl-md-5" role="main">
                {{ content }}
                <hr>
            <!-- Pager -->
                <ul class="pager list-unstyled ml-md-auto" style="padding-top: 20px;">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="clear" style="padding-bottom: 10px;"></div>
            </main>
        </article>
        </div>
    </div>
